@charset "UTF-8";
ul {
  list-style: none; }

/*导航栏*/
.navbar {
  background: #484846;
  border-bottom: 1px solid black;
  margin-bottom: 0px; }
  .navbar .row {
    /*左部栏*/
    /*右部菜单栏*/ }
    .navbar .row .aa {
      background: #3a3839;
      position: absolute;
      width: 293px;
      padding: 0;
      z-index: 5; }
      .navbar .row .aa li {
        height: 50px;
        width: 100%;
        line-height: 50px; }
        .navbar .row .aa li a {
          color: white;
          font-size: 15px; }
      .navbar .row .aa li:nth-child(n+2) {
        border-bottom: 1px solid black;
        padding: 0px 29px;
        cursor: pointer;
        height: 59px; }
        .navbar .row .aa li:nth-child(n+2):hover a {
          transition: margin-left 0.3s;
          text-decoration: none;
          color: #c39d61;
          margin-left: 15px; }
        .navbar .row .aa li:nth-child(n+2):hover span {
          color: #c39d61; }
        .navbar .row .aa li:nth-child(n+2) span {
          display: inline-block;
          color: white;
          float: right; }
        .navbar .row .aa li:nth-child(n+2) img {
          display: inline-block;
          margin-right: 5px;
          margin-top: -4px; }
      .navbar .row .aa li:nth-child(1) {
        text-align: center; }
        .navbar .row .aa li:nth-child(1) a {
          font-size: 18px; }
    .navbar .row .ab {
      float: right; }
      .navbar .row .ab li {
        width: 14%;
        text-align: center; }
      .navbar .row .ab li:nth-child(1) {
        background: black; }
      .navbar .row .ab a {
        color: white;
        font-size: 16px; }

/*内容2*/
.box2 {
  margin-top: 130px;
  margin-bottom: 80px;
  width: 100%; }
  .box2 .container h3 {
    border: 2px solid black;
    width: 215px;
    text-align: center;
    padding: 10px;
    margin: 0 auto; }

.box3 {
  margin-top: 130px;
  margin-bottom: 80px;
  width: 100%; }
  .box3 .container .ba2 {
    border: 2px solid black;
    width: 215px;
    text-align: center;
    padding: 10px;
    margin: 20px auto; }
  .box3 .container .row .pull-right {
    background: black;
    color: #b6b6b6;
    height: 29px;
    width: 126px; }
  .box3 .container .row .col-md-4, .box3 .container .row .col-md-3 {
    margin-top: 50px;
    position: relative; }
  .box3 .container .row .col-md-4 {
    padding: 0;
    overflow: hidden;
    cursor: pointer; }
    .box3 .container .row .col-md-4:hover img {
      transition: all 0.5s;
      transform: scale(1.1); }
  .box3 .container .row .col-md-3 {
    cursor: pointer;
    overflow: hidden;
    padding: 0; }
    .box3 .container .row .col-md-3:hover img {
      transition: all 0.5s;
      transform: scale(1.1); }
    .box3 .container .row .col-md-3 .fq {
      width: 165px;
      height: 40px;
      background: #eee7df;
      opacity: 0.8;
      position: absolute;
      bottom: 35px;
      left: 83px;
      color: #593f42;
      font-size: 18px;
      line-height: 40px;
      text-align: center; }
      .box3 .container .row .col-md-3 .fq a {
        color: #593f42; }

.box4 {
  margin-top: 130px;
  margin-bottom: 80px;
  width: 100%; }
  .box4 .container h3 {
    border: 2px solid black;
    width: 215px;
    text-align: center;
    padding: 10px;
    margin: 0 auto; }
  .box4 .container .ca1 {
    margin-top: 60px; }
    .box4 .container .ca1 h5 {
      font-weight: 700; }
    .box4 .container .ca1 .col-md-2 {
      background: #7d7d7d;
      color: white;
      height: 33px;
      width: 126px;
      font-size: 24px;
      text-align: center;
      line-height: 33px; }
  .box4 .container .ca2 {
    margin-top: 50px; }
    .box4 .container .ca2 .caa1 {
      background: url("img/9.png");
      height: 357px; }
      .box4 .container .ca2 .caa1 span {
        display: block;
        width: 327px;
        height: 49px;
        margin: 279px auto;
        padding: 0 50px;
        line-height: 49px;
        background: #f9f9f9;
        border: 3px solid #2d2d2d;
        opacity: 0.9;
        font-size: 23px; }
        .box4 .container .ca2 .caa1 span i {
          text-decoration: none;
          margin: 0 51px; }
    .box4 .container .ca2 .caa2 {
      padding-right: 0px; }
      .box4 .container .ca2 .caa2 .bb {
        margin-left: 50px; }
        .box4 .container .ca2 .caa2 .bb div {
          display: inline-block;
          width: 242px;
          height: 163px;
          position: relative;
          cursor: pointer;
          overflow: hidden;
          padding: 0; }
          .box4 .container .ca2 .caa2 .bb div:hover img {
            transition: all 0.4s;
            transform: scale(1.1); }
          .box4 .container .ca2 .caa2 .bb div:hover .kg {
            transition: all 0.4s;
            transform: scale(1.1); }
          .box4 .container .ca2 .caa2 .bb div .kg {
            display: block;
            width: 85%;
            height: 25px;
            position: absolute;
            bottom: 20px;
            background: #3c3a3b;
            opacity: 0.9;
            font-size: 13px;
            padding: 0 50px;
            line-height: 25px; }
            .box4 .container .ca2 .caa2 .bb div .kg a {
              color: white; }
        .box4 .container .ca2 .caa2 .bb div:nth-child(2n) {
          float: right; }

.box5 {
  margin-top: 130px;
  margin-bottom: 80px;
  width: 100%; }
  .box5 .container h3 {
    border: 2px solid black;
    width: 215px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 20px; }
  .box5 .container .asw .col-md-3 h2 {
    margin-top: 35px;
    margin-bottom: 23px; }
    .box5 .container .asw .col-md-3 h2:hover a {
      color: #5d5b53; }
    .box5 .container .asw .col-md-3 h2 a {
      color: #a97b49; }
  .box5 .container .asw .col-md-3 p {
    color: #c7c6c4; }
  .box5 .container .asv {
    margin-top: 50px; }
    .box5 .container .asv .assd1 {
      width: 19.5%; }
      .box5 .container .asv .assd1 .row .avv {
        margin-top: 11px;
        margin-left: -20px; }

/*底部栏*/
footer {
  width: 100%;
  height: 500px;
  background: #29272a; }
  footer .assd2 {
    margin-top: 80px;
    margin-bottom: 60px; }
    footer .assd2 li {
      margin: 14px 5px; }
      footer .assd2 li:hover a {
        color: #c39d61; }
      footer .assd2 li a {
        color: #5d5b53; }
    footer .assd2 h4 {
      color: #a6a188; }
    footer .assd2 .gga {
      padding-left: 0px; }
      footer .assd2 .gga div {
        margin: 14px 0px;
        color: #5d5b53; }
  footer .assd3 {
    width: 80%;
    margin: 0 auto; }
    footer .assd3 li {
      width: 12%;
      height: 17px;
      line-height: 17px;
      text-align: center;
      border-right: 1px solid #a6a188; }
      footer .assd3 li a {
        color: #a6a188; }
  footer p {
    width: 100%;
    text-align: center;
    margin: 13px auto;
    color: #5d5b53; }

/*# sourceMappingURL=xin.css.map */
